body{
    background-image: url(../recursos/fondo\ teclado.jpg);
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Asegura que cubra toda la pantalla */
    margin: 0; /* Elimina los márgenes predeterminados */
}

.img{ 
  margin-left: 25%;
  width: 50%;
  border-radius: 50%;
  margin-top: 20px;
}

.card{
    margin-top: 2%;
    background: rgba(255, 255, 255, 0.227);
    backdrop-filter: blur(1px);
    padding: 1rem;
    position: fixed;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 6px rgba (0, 0, 0, 0.5);
    margin-bottom: 5%;
}

.btn{
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-left: 35%;
    margin-top: 25px;

   
}

.btn:active{
    transform: scale(0.95);
}

a{
    text-decoration: none;
}


